<div class="container">
  <div class="row" id="header">
    <div class="col-xs-12">
      <h1>Viking Analytics Dashboard</h1>
    </div>


  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <h2>1. Overall Platform</h2>
            <%= render partial: 'table', locals: {data: @totals, headers: ["Item", "Data"], titles: "Totals"}%>
            <%= render partial: 'table', locals: {data: @last_thirty, headers: ["Item", "Data"], titles: "Last 30 Days"}%>
            <%= render partial: 'table', locals: {data: @last_seven, headers: ["Item", "Data"], titles: "Last 7 Days"}%>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <h2>2. User Demographics and Behavior</h2>
          <%= render partial: 'table', locals: {data: @top_states, headers: ["Item", "Data"], titles: "Top States"}%>
          <%= render partial: 'table', locals: {data: @top_cities, headers: ["Item", "Data"], titles: "Top Cities"}%>
          <%= render partial: 'table', locals: {data: @totals, headers: ["Item", "Data"], titles: "Totals"}%>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <h2>3. Order Statistics</h2>
          <%= render partial: 'table', locals: {data: @totals, headers: ["Item", "Data"], titles: "Totals"}%>
          <%= render partial: 'table', locals: {data: @totals, headers: ["Item", "Data"], titles: "Totals"}%>
          <%= render partial: 'table', locals: {data: @totals, headers: ["Item", "Data"], titles: "Totals"}%>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <h2>4. Time Series Data</h2>
          <%= render partial: 'table', locals: {data: @totals, headers: ["Item", "Data"], titles: "Totals"}%>
          <%= render partial: 'table', locals: {data: @totals, headers: ["Item", "Data"], titles: "Totals"}%>
          <%= render partial: 'table', locals: {data: @totals, headers: ["Item", "Data"], titles: "Totals"}%>
        </div>
      </div>
    </div>
  </div>
</div>
